/* 

=================
      Fonts
=================

 */
@font-face {
    font-family: "Archivo Black";
    src: url(fonts/Archivo-Black.ttf) format(truetype);
}
@font-face {
    font-family: "Archivo Regular";
    src: url(fonts/Archivo-Regular.ttf) format(truetype);
}
html {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Archivo Black";
    background-color: #E3EAF5;
}
/* 

=================
      header
=================

 */
.header {
    padding: 16px 0px;
    background-color: #1E3A8A;
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav__logo {
    width: 80px;
    height: 80px;
}
.nav__logo-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.nav__menu-items {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 32px;
}
.nav__menu-item {
    text-decoration: none;
    font-size: 18px;
    color: rgba(255, 255, 255,0.8 );
    transition: color 150ms ease-in 100ms;
}
.nav__menu-item:hover {
    color: rgba(255, 255, 255, 1);
}
.nav__register {
    display: flex;
    align-items: center;
    gap: 8px;
}
.nav__register-link {
    padding: 16px 34px;
    border-radius: 16px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    background-color: #2962FF;
    transition: all 150ms ease-in 100ms;
}
.nav__register-link:hover {
    background-color: #304FFE;
}
.nav__register-link:active {
    background-color: #6200EA;
}
/* 

=================
      Main
=================

 */
.main {
    margin: 30px 0;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.product {
    flex-grow: 1;
    max-width: 386px;
    padding: 16px;
    background-color: #fff;
    font-family: "Archivo Regular";
    border-radius: 10px;
}
.product__img {
    width: 350px;
    height: 350px;
    display: block;
    margin: 0 auto;
}
.product__img-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 14px;
    transition: all 150ms ease-in 100ms;
}
.product__img-image:hover {
    scale: 1.05;
}
.product__name {
    text-align: center;
    margin: 24px 0;
}
.product__name-title {
    text-decoration: none;
    color: #212121;
}
.product__price-score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
}
.product-price {
    position: relative;
}
.product__price{
    font-size: 24px;
}
.cent {
    font-size: 16px;
    position: absolute;
    top: 0;
    right: -20px;
}
.dollars {
    font-size: 16px;
    /* color: #23b060; */
    position: absolute;
    top: 0;
    left: -10px;
}
.score {
    display: flex;
    align-items: center;
    gap: 4px;
}
.score__logo-icon {
    color: #f1c21b;
    width: 22px;
    height: 22px;
}
.score__value {
    color: #f1c21b;
}
.buy-btn {
    width: 100%;
    margin-top: 14px;
}
.buy-btn__link {
    display: block;
    text-align: center;
    font-family: "Archivo Black";
    text-decoration: none;
    color: #fff;
    border-radius: 15px;
    padding: 16px 32px;
    background-color: #2962FF;
    transition: all 150ms ease-in 100ms;
}
.buy-btn__link:hover {
    background-color: #304FFE;
}
.buy-btn__link:active {
    background-color: #6200EA;
}


@media (max-width: 1400px) {
    .container {
        width: 1200px;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 992px;
    }
    .product {
        max-width: 317px;
    }
    .product__img {
        width: 281px;
        height: 281px;
    }
}

@media (max-width: 992px) {
    .container {
        width: 768px;
    }
    .row {
        justify-content: center;
        flex-direction: row;
    }
    .product {
        max-width: 374px;
    }
    .product__img {
        width: 338px;
        height: 338px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 576px;
    }
    .product {
        max-width: 100%;
        padding: 22px;
    }
    .product__img {
        width: 532px;
        height: 532px;
    }
    .nav__menu-item {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .container {
        width: 90%;
    }
    .nav__menu-item {
        font-size: 14px;
    }
    .product {
        max-width: 100%;
    }
    .product__img {
        width: 100%;
        height: 457px;
    }
}
